@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Fira+Sans+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Fira+Sans+Condensed&family=Fuzzy+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

.vendedor-imagem{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #ffb703;
}


.vendedor-dados{
	text-align: center;
	border-bottom: 1px solid #ccc;
	width: 100%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	height: 80px;
	line-height: 50px;
}

.titulo{
	padding: 10px;
	font-size: 22px;
	font-weight: 200;
	font-family: 'Archivo Narrow' , sans-serif;
	font-weight: bold;
	color: black;
}

.informacao-vendedor{
	font-weight: 200;
	font-family: 'Archivo Narrow' , sans-serif;
	font-size: 20px;
	color: black;
}

.descricao-vendedor{
	font-weight: 100;
	font-family: 'Archivo Narrow' , sans-serif;
	font-size: 20px;
	color: black;
}

.descricao-span{
	font-weight: bold;
}

.cargoEAvaliacao{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.avaliacao-vendedor{
	font-size: 20px;
	color: black;
}


.cargo-vendedor{
	font-weight: 200;
	font-style: italic;
	font-family: 'Archivo Narrow' , sans-serif;
	font-size: 20px;
	color: black;
}




.container-vendedor{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

@media (min-width: 580px){
	.container-vendedor{
		display: flex;
		flex-direction: row;
	
	}

}